name: Deploy Main Site to DreamHost

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build site
        run: npm run build
        env:
          VITE_API_BASE_URL: https://api.thehumanpatternlab.com

      - name: Debug env
        run: |
          echo "VITE_API_BASE_URL=$VITE_API_BASE_URL"
        env:
          VITE_API_BASE_URL: https://api.thehumanpatternlab.com


      - name: Deploy via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          port: 22
          local_path: './dist/*'
          remote_path: '${{ secrets.SFTP_PATH }}'
          delete_remote_files: false

      - name: Publish Lab Notes into lab-api (SFTP)
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USER }}
          password: ${{ secrets.SFTP_PASS }}
          port: 22
          local_path: './src/labnotes/*'
          remote_path: '/home/humanpatternlab/lab-api/content/labnotes'
          delete_remote_files: false




